body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.testimonial-section {
    background-color: hsl(0, 0%, 81%);
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    flex: 1 1 auto;
    /* reference:  https://stackoverflow.com/questions/90178/make-a-div-fill-the-height-of-the-remaining-screen-space*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial-block {
    padding: 0;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.testimonial {
    border-radius: 10px;
    padding: 30px 30px 30px 30px;
    box-shadow: 3px 3px 5px hsla(217, 19%, 35%, 0.2);
}

.t-one {
    grid-column-end: span 2;
}

.t-three {
    grid-row-end: span 2;
}

.t-five {
    grid-column-end: span 2;
}

.violet-bg {
    background-color: hsl(263, 55%, 52%);
    color: hsl(210, 46%, 95%);
    position: relative;
}

.gray-bg {
    background-color: hsl(217, 19%, 35%);
    color: hsl(210, 46%, 95%);
}

.white-bg {
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 35%);
}

.black-bg {
    background-color: hsl(219, 29%, 14%);
    color: hsl(210, 46%, 95%);
}

h4 {
    font-size: 1.2rem;
    margin: 20px 0;
}

.testi-text {
    color: hsla(210, 46%, 95%, 0.7);
}

.white-bg .testi-text {
    color: hsla(217, 19%, 35%, 0.7);
}

.intro {
    padding-left: 20px;
}

.designation {
    color: hsla(210, 46%, 95%, 0.5)
}

.white-bg .designation {
    color: hsla(217, 19%, 35%, 0.5);
}

.profile-img {
    height: 40px;
    width: auto;
    border-radius: 50%;
    border: 2px solid;
    border-color: hsla(210, 46%, 95%, 0.5);
}

.quote-image {
    position: absolute;
    top: 0;
    right: 100px;
    z-index: 1;
}

.over-the-quote {
    position: relative;
    z-index: 2;
}
